.value {
  display: block;
  font-size: 28px;
  margin-bottom: 20px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
}
.button {
  background-color: #008CBA; 
  cursor: pointer;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}